/* [class*=col]{
    min-height: 80px;
    background-color: blueviolet;
    border: 3px solid black;
}  */

[class*=col] img{
    max-width: 100%;
    max-height: 100%;
}

body{
    font-family: Arial;
}

nav {
    font-family: Helvetica;
}

/* header */
#background-black {
    background-color: black;
}
#background-black img {
    width: 120px;
    margin: 15px;
}

.btn_black_white{
    background-color: black;
    color: white;
    padding-bottom: 20px;
    margin-bottom: 3px;
}

.bg_navbar_white {
    background-color: white;
}

.dropdown-menu {
    border: none;
}

.spaziatura_dropdown {
    margin: 0 13px;
}

.dropdown, .dropend, .dropstart, .dropup {
    position: static;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    left: 0px;
    right: 0;
    top: 72px;
}

/* jumbotron */
#jumbo {
    margin-top: 127px;
    background-image: url(../img/jumbo-bg.png);
}

.jumbo-games {
    height: 100px;
    border-radius: 15px;
    margin: 10px;
    padding: 3px;
}

.selezionato {
    border: 2px solid rgb(64, 128, 224);
}

.games_show {
    margin-bottom: 80px;
}

.bg-banner {
    height: 700px;
    background-size: cover;
    background-position:center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.bg-banner img {
    width: 200px;
}

.col_banner {
    max-width: 500px;
    margin-bottom: 50px;
}

.btn_orange {
    background-color: tomato;
    margin-top: 10px;
}

.btn_grayblue {
    color: blue;
    background-color: rgb(143, 166, 180);
}

.btn_white {
    background-color: white;
    color: black;
}

.btn_blue {
    margin-top: 15px;
}

.btn-primary {
    border-radius: 20px;
    border: 0;
    padding:5px 10px 8px;
}

.spazio_ps5 {
    margin-top: 30px;
}


/* mid zone */
#mid-jumbo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.new-games {
    height: 120px;
    border-radius: 15px;
    padding: 3px;
}

#bg-gray {
    background-color: #0d0e0f;
    color: white;
    padding: 60px 0;
}

/* meta-banner  */
.meta-banner {
    height: 350px;
}

#logo_banner {
    width: 70%;
    margin-bottom: 30px;
    margin-top: 45px;
}


.btn_meta-banner{
    margin-top: 30px;
    margin-bottom: 30px;
}

.bg-lightgray {
    background-color: lightslategray;
}

.bg-blu {
    background-color: rgb(25, 25, 92);
    color: white;
}

.meta-banner .container .row .col .img-ghost-bg{
    height:350px;
    max-width: none;
}

.img-ghost {
    display: none;
}

.text_blu {
    color: blue;
}

.selezionato-info {
    border-bottom: 2px solid rgb(64, 128, 224);
}

.section_info {
    margin-bottom: 40px;
}

.title_section {
    margin: 60px 0;
}

.show_ps4 {
    margin-top: 40px;
}

.row_square_btn{
    margin-top: 30px;
} 

.square_btn {
    margin: 10px 0;
}

/* footer */
footer {
    background-color: blue;
    color: white;
}

#ps_footer {
    height: 70px;
    margin:15px;
}

.row_language {
    margin-bottom: 15px;
}

#globo {
    height: 20px;
}

#sie {
    height: 50px;
    margin: 10px;
}

#ms_links {
    margin: 15px;
}

.nav-link {
    color: white;
}

.link_white {
    color: white;
}


@media all and (min-width: 992px){
    .navbar-expand-lg .navbar_dx {
        align-items: center;
    }
    .btn_black_white {
        margin: 0px 15px;
    }
 }

 @media all and (min-width:768px){
    .img-ghost{
        display: block;
    }
    #logo_banner {
        margin-top: 0;
    }
}