/* [class*=col]{
    min-height: 80px;
    background-color: blueviolet;
    border: 3px solid black;
}  */

/* header */
#background-black {
    background-color: black;
}
#background-black img {
    width: 120px;
    margin: 15px;
}

/* jumbotron */
#jumbo {
    margin-top: 160px;
    background-image: url(../img/jumbo-bg.png);
}

#jumbo-games {
    height: 80px;
    margin: 0 auto;
    border-radius: 15px;
    margin: 10px;
    padding: 3px;
}
.selezionato {
    border: 2px solid rgb(64, 128, 224);
}

.bg-banner {
    height: 500px;
    background-size: cover;
    background-position:center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.bg-banner img {
    width: 200px;
}

.col_banner {
    max-width: 500px;
    margin-bottom: 50px;
}

.btn-primary {
    border-radius: 20px;
    background-color: tomato;
    border: 0;
    padding:8px 15px 11px;
    margin-top: 10px;
}


/* mid zone */
#mid-jumbo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

#bg-gray {
    background-color: #373e4a;
    color: white;
}

.meta-banner {
    height: 350px;
}

.bg-lightgray {
    background-color: lightslategray;
}

.bg-blu {
    background-color: rgb(25, 25, 92);
}

.meta-banner .container {
    height: 100%;
}

.meta-banner .container .row {
    height: 100%;
}

.meta-banner .container .row .col {
    height: 100%;
}

.img-ghost {
    display: none;
}

@media all and (min-width:768px){
    .img-ghost{
        display: block;
    }
}